@import "var";

.month-picker-material {
    padding: 10px;

    tr {
        height: 40px;
        width:  400px;
    }
    .month {
        width: 60px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        border-radius: 800px;
        &:hover {
            background: $hover-color;
        }
        &.selected {
            background: $selection-color;
            color: #fff;
        }
    }
}